.svn
test
*.o
*.a
*.so
*.swp
*.patch
tags
*.dylib*
build/
cJSON_test
cJSON_test_utils
libcjson.so.*
libcjson_utils.so.*
*.orig
# .vscode
.idea
cmake-build-debug
*.lst
*.lss


# Added by Pallab
.vscode

library_config/
fuzzing/afl-prepare-linux.sh
fuzzing/CMakeLists.txt
fuzzing/afl.sh
fuzzing/ossfuzz.sh
.travis.yml
appveyor.yml
CMakeLists.txt
Makefile
test.c
valgrind.supp

.libs/
.deps/
autom4te.cache/
autoconf/

m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/libtool.m4

aclocal.m4

configure
Makefile
Makefile.in